<launch>
  <rosparam command="load" file="$(find ckinect_calibration_stereo)/ckinect_calibration_stereo.yaml" />

  <arg name="camera1_height" value="/ckinect/calibration/camera1_height" />
  <arg name="camera1_pitch" value="0.08" />
  <arg name="camera1_roll" value="0.07" />
  <arg name="camera2_height" value="1.45" />
  <arg name="camera2_pitch" value="0.25" />
  <arg name="camera2_roll" value="0.055" />
  <arg name="camera12_x" value="2" />
  <arg name="camera12_y" value="-1.5" />
  <arg name="camera12_yaw" value="$(arg pi/2)" />


</launch>

